<h3>Commands</h3>
<div>
<div ng-if="!(vm.commands | filter:vm.commandFilter).length">
    <em>No pending commands.</em>
</div>
<form ng-submit="editVm.editSave()" ng-if="(vm.commands | filter:vm.commandFilter).length">
    <table class="data-table">
        <thead>
            <tr>
                <th>Buoy</th>
                <th>Command</th>
                <th>Value</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="command in vm.commands | filter:vm.commandFilter">
                <td>
                    <span ng-if="command.id != -2">{{ command.buoyName }}</span>
                    <div ng-if="command.id == -2">
                        <span ng-if="vm.selected.type == 'instance'">{{ command.buoyName }}</span>
                        <em ng-if="vm.selected.type == 'group'">All buoys in {{ vm.selected.obj.name }}</em>
                        <em ng-if="vm.selected.type == 'all'">All buoys</em>
                    </div>
                </td>
                <td>
                    <span ng-if="editVm.editId != command.id">{{ command.commandName }}</span>
                    <select ng-if="editVm.editId == command.id"
                        type="button" class="btn btn-default" 
                        ng-model="editVm.editObj.commandTypeId" 
                        bs-options="opt.id as opt.name for opt in vm.commandTypes | filter: { archived: false }"
                        bs-select>
                    </select>
                </td>
                <td>
                    <span ng-if="editVm.editId != command.id">{{ command.value }}</span>
                    <input ng-if="editVm.editId == command.id" type="text" class="form-control" ng-model="editVm.editObj.value" placeholder="20" focus-on="editExisting" esc-cancel="editVm.editCancel()">
                </td>
                <td class="button-cell">
                    <button type="button" class="btn btn-default btn-sm right" ng-if="editVm.showDeleteButton(command)" ng-click="editVm.editDelete(command)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm right" ng-if="editVm.editId == -1" ng-click="editVm.editExisting(command)">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm right" ng-if="editVm.editId == command.id" ng-click="editVm.editCancel()">
                        <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                    </button>
                    <button type="submit" class="btn btn-default btn-sm right" ng-if="editVm.editId == command.id">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<button type="button" class="btn btn-default" ng-if="editVm.editId == -1" ng-click="editVm.editNew()">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    <small>New Command</small>
</button>