<div class="medium-3 grid-block vertical shadow-glow">
	<div class="grid-content shadow-bottom shrink">
		<h3>Select Buoys</h3>
		<ul>
			<li class="expand info button listButton"
				ng-click="vm.selectAll()">
				All Buoys
			</li>
		</ul>
	</div>
	<div class="grid-content shadow-bottom">
		<h4>Buoy Groups</h4>
		<ul>
			<li class="expand button listButton"
				ng-click="vm.selectNewBuoyGroup()">
				New Buoy Group
			</li>
			<li class="expand info button listButton"
				ng-repeat="buoyGroup in vm.buoyGroups | filter:vm.buoyGroupFilter"
				ng-click="vm.selectBuoyGroup(buoyGroup)">
					{{ buoyGroup.name }}
			</li>
		</ul>
	</div>
	<div class="grid-content shadow-bottom">
		<h4>Buoy Instances</h4>
		<ul>
			<li class="expand info button listButton"
				ng-repeat="buoyInstance in vm.buoyInstances"
				ng-click="vm.selectBuoyInstance(buoyInstance)">
					<span ng-if="buoyInstance.name != ''">{{ buoyInstance.name }}</span>
					<span ng-if="buoyInstance.name == ''" class="red">(no name)</span>
					({{ buoyInstance.buoyGroupName }})
			</li>
		</ul>
	</div>
</div>
<div class="medium-9 grid-content">
	<div ng-if="vm.selected.type == 'newGroup'">
		<label>Name</label>
		<form>
			<input type="text" ng-model="vm.editName.value">
			<input type="submit" ng-click="vm.saveNewBuoyGroup()" 
				value="Save" class="small button">
		</form>
	</div>
	<div ng-if="vm.selected.type == 'group'">
		<div>
			<h3>{{ vm.selected.obj.name }}</h3>
		</div>
		<div>
			<div ng-if="!vm.editName.on">
				<button class="small button" ng-click="vm.startEditingName()">Edit name</button>
			</div>
			<form ng-if="vm.editName.on">
				<input type="text" ng-model="vm.selected.obj.name">
				<input type="submit" ng-click="vm.finishEditingName()"
					value="Save" class="small button">
			</form>
		</div>
		<div>
			<h3>Commands</h3>
			<h4>New Command</h4>
			<h4>Pending Commands</h4>
			<table>
				<thead>
					<th>
						<td>Buoy</td>
						<td>Command</td>
						<td>Value</td>
					</th>
				</thead>
				<tbody>
					<tr ng-repeat="command in vm.commands | filter:vm.buoyGroupCommandFilter">
						<td></td>
						<td>{{ command.buoyName }}</td>
						<td>{{ command.commandName }}</td>
						<td>{{ command.value }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div ng-if="vm.selected.type == 'instance'">
		<div>
			<h3 ng-if="vm.selected.obj.name != ''">{{ vm.selected.obj.name }}</h3>
			<h3 ng-if="vm.selected.obj.name == ''" class="red">(no name)</h3>
		</div>
		<div>
			<div ng-if="!vm.editName.on && !vm.editGroup.on">
				<button class="small button" ng-click="vm.startEditingName()">Edit name</button>
			</div>
			<form ng-if="vm.editName.on">
				<input type="text" ng-model="vm.selected.obj.name">
				<input type="submit" ng-click="vm.finishEditingName()"
					value="Save" class="small button">
			</form>
		</div>
		<div>
			<div ng-if="!vm.editGroup.on">
				<span>{{ vm.selected.obj.buoyGroupName }} 
					<button class="small button" ng-click="vm.startEditingBuoyGroup()"
						ng-if="!vm.editName.on">Edit group</button>
				</span>
			</div>
			<form ng-if="vm.editGroup.on">
				<label>New name</label>
				<input type="text" ng-model="vm.editGroup.name">
				<label>New group</label>
				<select type="button" class="btn btn-default" 
						ng-model="vm.editGroup.buoyGroupId" 
						bs-options="opt.id as opt.name for opt in vm.buoyGroups"
						bs-select>
				</select>
				<br>
				<input type="submit" ng-click="vm.finishEditingBuoyGroup()"
					value="Save" class="small button">
			</form>
		</div>
		<div>
			<h3>Commands</h3>
			<h4>New Command</h4>
			<h4>Pending Commands</h4>
			<table>
				<thead>
					<th>
						<td>Buoy</td>
						<td>Command</td>
						<td>Value</td>
					</th>
				</thead>
				<tbody>
					<tr ng-repeat="command in vm.commands | filter:vm.buoyInstanceCommandFilter">
						<td></td>
						<td>{{ command.buoyName }}</td>
						<td>{{ command.commandName }}</td>
						<td>{{ command.value }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>