<div ui-tree="vm.treeOptions">
    <ol ui-tree-nodes="" ng-model="vm.buoyGroups">
        <li>
            <a class="no-link-col"
                ng-click="vm.selectAll()">
                <span class="glyphicon glyphicon-asterisk"></span>
                <strong>Select All Buoys</strong>
            </a>
        </li>
        <li ng-repeat="buoyGroup in vm.buoyGroups" ui-tree-node>
            <div>
                <div ui-tree-handle class="tree-node">
                    <a class="btn btn-xs" ng-click="toggle(this)" data-nodrag
                        ng-if="buoyGroup.buoyInstances && buoyGroup.buoyInstances.length > 0">
                            <span class="glyphicon"
                                    ng-class="{
                                    'glyphicon-chevron-right': collapsed,
                                    'glyphicon-chevron-down': !collapsed
                                    }">
                            </span>
                    </a>
                    <strong>{{ buoyGroup.name }}</strong>
                </div>
                <ol ui-tree-nodes="" ng-model="buoyGroup.buoyInstances">
                    <li ng-if="!collapsed" ng-repeat="buoyInstance in buoyGroup.buoyInstances" ui-tree-node>
                        <div ui-tree-handle class="tree-node">
                            <span>{{ buoyInstance.name }}</span>
                        </div>
                    </li>
                </ol>
            </div>
        </li>
        <li >
            <button type="button" class="btn btn-default btn-sm" ng-click="vm.selectNewBuoyGroup()">
                <span class="glyphicon glyphicon-plus"></span>
                <span>(New Group)</span>
            </button>
        </li>
    </ol>
</div>