<ol class="no-list-bullet no-indent">
    <li>
        <a class="no-link-col"
            ng-click="vm.selectAll()">
            <span class="glyphicon glyphicon-asterisk"></span>
            <strong>Select All Buoys</strong>
        </a>
    </li>
    <li class="tree-node pointer"
        ng-repeat="buoyInstance in vm.buoyInstances"
        ng-click="vm.selectBuoyInstance(buoyInstance)">
        <span>
            <strong ng-if="buoyInstance.name != ''">{{ buoyInstance.name }}</strong>
            <strong ng-if="buoyInstance.name == ''" class="red">(no name)</strong>
            ({{ buoyInstance.buoyGroupName }})
        </span>
    </li>
</ol>