<div ng-if="vm.selected.type == 'newGroup'">
    <h3>New Group</h3>
    <label>Please enter a name.</label>
    <form ng-submit="vm.saveNewBuoyGroup()" class="form-inline">
        <input class="form-control ti-md" type="text" ng-model="vm.editName.value" placeholder="North Brisbane">
        <button class="btn btn-sm btn-default" type="submit">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
        </button>
    </form>
</div>
<div class="push-down-h3" ng-if="vm.selected.type == 'all'">
    <h3>All Buoys</h3>
</div>
<div class="push-down-h3" ng-if="vm.selected.type == 'group'">
    <h3 class="inline-header" ng-if="!vm.editing()">{{ vm.selected.obj.name }}</h3>
    <h3 class="inline-header" ng-if="vm.editName.on">
        <input type="text" class="form-control" ng-model="vm.selected.obj.name">
    </h3>
    <button class="btn btn-sm btn-default align-h3" ng-click="vm.startEditingName()"
        ng-if="!vm.editing()">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    </button>
    <button class="btn btn-sm btn-default align-h3" ng-click="vm.finishEditingName()"
        ng-if="vm.editName.on">
        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
    </button>
    <button class="btn btn-sm btn-default align-h3" ng-click="vm.cancelEditName()"
        ng-if="vm.editName.on">
        <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
    </button>
</div>
<div class="push-down-h3" ng-if="vm.selected.type == 'instance'">
    <button type="button" class="btn btn-lg btn-primary right" ng-if="!vm.redeploy.show" ng-click="vm.redeployShow()">Redeploy</button>
    <div ng-if="!vm.redeploy.show">
        <h3 class="inline-header" ng-if="!vm.editing()">{{ vm.selected.obj.name }}</h3>
        <h3 class="inline-header" ng-if="vm.editName.on">
            <input type="text" class="form-control" ng-model="vm.selected.obj.name">
        </h3>
        <button class="btn btn-sm btn-default align-h3" ng-click="vm.startEditingName()"
            ng-if="!vm.editing()">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </button>
        <button class="btn btn-sm btn-default align-h3" ng-click="vm.finishEditingName()"
            ng-if="vm.editName.on">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
        </button>
        <button class="btn btn-sm btn-default align-h3" ng-click="vm.cancelEditName()"
            ng-if="vm.editName.on">
            <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
        </button>
        <br><br>
        <div>
            <strong>Group: </strong>
            <select ng-if="editVm.editId == command.id"
                type="button" class="btn btn-default" 
                ng-model="vm.selected.obj.buoyGroupId" 
                bs-options="opt.id as opt.name for opt in vm.buoyGroups | filter: { archived: false }"
                esc-cancel="editVm.editCancel()"
                ng-change="vm.finishEditingBuoyGroup()"
                bs-select>
            </select>
        </div>
    </div>
    <div ng-if="vm.redeploy.show">
        <button type="button" class="btn btn-lg btn-default right" ng-click="vm.redeploy.show = false">Cancel</button>
        <h3>Redeploy {{ vm.selected.obj.name }}</h3>
        <br>
        <form class="form-inline" ng-submit="vm.redeployBuoy()">
                <label>New Name</label>
                <input type="text" class="form-control" ng-model="vm.redeploy.name" focus-on="redeploy">
                <br>
                <label class="push-down-h3">New Group</label>
                <select
                    type="button" class="btn btn-default" 
                    ng-model="vm.redeploy.buoyGroupId" 
                    bs-options="opt.id as opt.name for opt in vm.buoyGroups | filter: { archived: false }"
                    esc-cancel="vm.dedeploy.show = false"
                    bs-select>
                </select>
                <br>
                <button type="submit" class="btn btn-default btn-md push-down-h3">
                    <span class="glyphicon glyphicon-ok"></span>
                    Save
                </button>
                <!-- <button type="button" class="btn btn-default btn-md">
                    <span class="glyphicon glyphicon-ban-circle"></span>
                </button> -->
        </form>
    </div>
</div>