<div class="align-center grid-block">
	<div class="medium-4 grid-content">
		<h3>Change Password</h3>
		<p ng-if="vm.firstLogin">Please change your password.</p>
		<div ng-if="vm.success == -1">
			<form ng-submit="vm.changePassword()">
				<div class="form-group" ng-if="!vm.firstLogin">
					<label for="currentPassword" class="sr-only">Current Password</label>
					<input type="password" class="form-control" placeholder="Current password" ng-model="vm.currentPassword" name="currentPassword" required>
				</div>
				
				<div ng-include="'auth/new_password.html'"></div>
			</form>
		</div>
		<p ng-if="vm.success == 1">Your password has been successfully updated.</p>
        <div ng-if="vm.success == 0">
        	<p>An error occured on the server. Please try again later.<p>
        	<p><a href="" ng-click="vm.tryAgain()" id="fail">Try again</a></p>
    	</div>
	</div>
</div>