<div class="align-center grid-block">
	<div class="medium-4 grid-content">
		<br><h3>Change Password</h3><br>
		<p ng-if="authVm.firstLogin">Please change your password.</p>
		<form ng-submit="authVm.changePassword()">
			<label for="newPassword">New Password</label>
			<input type="password" ng-model="authVm.newPassword" name="newPassword">
			<label for="confirmPassword">Confirm New Password</label>
			<input type="password" ng-model="authVm.confirmPassword" name="confirmPassword">
			<input type="submit" class="button" value="Update">
		</form>
	</div>
</div>