<div class="align-center grid-block">
	<div class="medium-4 grid-content">
		<h3>Change Password</h3>
		<div ng-if="authVm.changePasswordResponse == -1">
			<form ng-submit="authVm.changePassword()">
				<div class="form-group">
					<label for="currentPassword" class="sr-only">Current Password</label>
					<input type="password" class="form-control" placeholder="Current password" ng-model="authVm.currentPassword" name="currentPassword">
				</div>
				<div ng-include="'/app/auth/new_password.html'"></div>
			</form>
		</div>
		<p ng-if="authVm.changePasswordResponse == 0">Your password has been successfully updated.</p>
        <p ng-if="authVm.changePasswordResponse == 1">An error occured on the server. Please try again later.</p>
        <!-- <a ng-if="!authVm.firstLogin" ui-sref="dashboard">Back to Dashboard</a> -->
	</div>
</div>