<div class="align-center grid-block">
	<div class="medium-4 grid-content">
		<h3>Login</h3>
		<form ng-submit="authVm.login()">
			<div class="form-group">
				<label for="email" class="sr-only">Email</label>
				<input type="text" class="form-control" placeholder="Email" ng-model="authVm.email" name="email">
			</div>
			<div class="form-group">
				<label for="password" class="sr-only">Password</label>
				<input type="password" class="form-control" placeholder="Password" ng-model="authVm.password" name="password">
			</div>
			<input type="submit" class="btn btn-primary" value="Login">
		</form>
		<a ui-sref="forgot_password">Forgotten your password?</a>

		<div>
			<br><em>Test account:</em>
			<br>andrew@dyergroup.com.au
			<br>D9mEpnvx
		</div>
	</div>
</div>