<div class="align-center grid-block">
	<div class="medium-4 grid-content">
		<h3>Login</h3>
		<form ng-submit="vm.login()">
			<div class="form-group">
				<label for="email" class="sr-only">Email</label>
				<input type="text" class="form-control" placeholder="Email" ng-model="vm.email" name="email">
			</div>
			<div class="form-group">
				<label for="password" class="sr-only">Password</label>
				<input type="password" class="form-control" placeholder="Password" ng-model="vm.password" name="password">
			</div>
			<input type="submit" class="btn btn-primary" value="Login">
		</form>
		<a ui-sref="forgot_password">Forgotten your password?</a>

		<div id="request-access">Please email <a href="mailto:uqfloodmonitoring@gmail.com?Subject=WaterWatcher Access Request" target="_top">uqfloodmonitoring@gmail.com</a> to request access to the system.</div>
	</div>
</div>