<div class="align-center grid-block">
    <div class="medium-4 grid-content">
        <h3>Reset Password</h3>
        <div ng-if="vm.success == -1">
            <form ng-submit="vm.resetPassword()">
                <div ng-include="'auth/new_password.html'"></div>
            </form>
        </div>
        <p ng-if="vm.success == 1">Your password has been successfully updated.</p>
        <p ng-if="vm.success == 0">An error occured on the server. Please try again later.</p>
        <a ui-sref="login">Back to login</a>
    </div>
</div>