#map-canvas { 
	height: 1200px;	
	margin: 0 -16px 0 -16px;
}

.no-overflow {
	overflow: hidden;
}

.grid-block, .grid-content {
	/*border: 1px solid black;*/
}

/*.shadow-right {
	box-shadow: 2px 0 2px lightgray;
}*/

.shadow-glow {
  box-shadow: 0 0 5px 2px #C5C5C5;
}

.shadow-bottom {
  box-shadow: 0 2px 2px #C5C5C5;
}

.filterPane {
  padding: 20px 0;
}

.border-bottom {
  border-bottom: 1px solid gray;
}

.mapWindow {
	background-color: darkgrey;
}

input[type="text"] {
  margin-bottom: 0;
}

.timefilters input[type="text"] {
	width: 40%;
	display: inline;
}
.timefilters {
  margin-left: 8px;
  margin-top: 15px;
}
.timefilters > div#since > input {
  width: 30%;
}

.sensorfilters input[type="text"] {
	width: 60px;
	display: inline;
	margin-right: 5px;
}
.sensorfilters div.sensor-name {
  margin-bottom: 4px;
}

.datepicker.dropdown-menu {
  width: 330px;
  height: 250px;
  bottom: 0;
}
.datepicker.dropdown-menu button {
  outline: none;
  border: 0px;
}
.datepicker.dropdown-menu tbody {
  height: 180px;
}
.datepicker.dropdown-menu tbody button {
  padding: 3px;
}
.datepicker.dropdown-menu.datepicker-mode-1 tbody button, .datepicker.dropdown-menu.datepicker-mode-2 tbody button {
  height: 65px;
}

.timepicker.dropdown-menu {
  padding: 0 4px;
}
.timepicker.dropdown-menu button {
  outline: none;
  border: 0px;
}
.timepicker.dropdown-menu tbody button {
  padding: 6px;
}


table {
  background: #FFFFFF;
  border: solid 1px #DDDDDD;
  margin-bottom: 1.25rem;
  table-layout: auto;
  width: 100% }
  table caption {
    background: transparent;
    color: #222222;
    font-size: 1rem;
    font-weight: bold; }
  table thead {
    background: #F5F5F5; }
    table thead tr th,
    table thead tr td {
      color: #222222;
      font-size: 0.875rem;
      font-weight: bold;
      padding: 0.5rem 0.625rem 0.625rem; }
  table tfoot {
    background: #F5F5F5; }
    table tfoot tr th,
    table tfoot tr td {
      color: #222222;
      font-size: 0.875rem;
      font-weight: bold;
      padding: 0.5rem 0.625rem 0.625rem; }
  table tr th,
  table tr td {
    color: #222222;
    font-size: 0.875rem;
    padding: 0.5625rem 0.625rem;
    text-align: left; }
  table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: #F9F9F9; }
  table thead tr th,
  table tfoot tr th,
  table tfoot tr td,
  table tbody tr th,
  table tbody tr td,
  table tr td {
    display: table-cell;
    line-height: 1.125rem; }
    

.invalidSensor {
  border: 1px solid red;
}
    
.unconfiguredSensor {
  border: 1px solid limegreen;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


.buoyGroup {
  padding: 10px 0;
  margin-bottom: 3px;
}

.buoyInstance {
  padding-left: 45px;
}

.red {
  color: red;
}

.listButton {
  margin-top: 2px;
  margin-bottom: 2px;
}