<div class="grid-block">
	<div class="small-12 medium-3 grid-content dashboard-panel">
		<div class="filter-section">
			<div class="right" ng-include="'/app/gui/loading.html'"></div>
			<h4 class="well well-sm">Times</h4>
			<div class="btn-group btn-group-justified" ng-model="vm.times.type" bs-radio-group>
				<label class="btn btn-default"><input type="radio" class="btn btn-default" value="since" ng-change="vm.updateTimes()">Since</label>
				<label class="btn btn-default"><input type="radio" class="btn btn-default" value="range" ng-change="vm.updateTimes()">Range</label>
				<label class="btn btn-default"><input type="radio" class="btn btn-default" value="point" ng-change="vm.updateTimes()">Point</label>
			</div>
			<div ng-if="vm.times.type=='since'" id="since">
				<form class="form-inline">
					<!-- <div class="form-group"> -->
						<span class="span-label">Since</span>
						<input type="text" class="form-control ti-xs" ng-model="vm.times.inputs.since.value" ng-change="vm.updateTimes()">
					<!-- </div> -->
					<button type="button" class="btn btn-default" 
								ng-model="vm.times.inputs.since.quantifier" 
								bs-options="opt for opt in vm.times.inputs.since.options"
								ng-change="vm.updateSensors()" bs-select>
					</button>
				</form>
			</div>
			<div ng-if="vm.times.type == 'range'">
				<table class="filter-table">
					<tbody>
						<form class="form-inline">
							<tr>
								<!-- <div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}"> -->
								    <td><span class="span-label">From</span></td>
								    <td><input type="text" class="form-control ti-sm" ng-model="vm.times.inputs.range.from.date" ng-change="vm.updateTimes()" placeholder="DD/MM/YY" bs-datepicker></td>
							  	<!-- </div> -->
								<!-- <div class="form-group" ng-class="{'has-error': timepickerForm.time.$invalid}"> -->
								    <td><input type="text" class="form-control ti-sm" ng-model="vm.times.inputs.range.from.time" ng-change="vm.updateTimes()" placeholder="HH:MM" bs-timepicker></td>
								<!-- </div>	   -->
							</tr>
							<tr>
								<!-- <div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}"> -->
								    <td><span class="span-label">To</span></td>
								    <td><input type="text" class="form-control ti-sm" ng-model="vm.times.inputs.range.to.date" ng-change="vm.updateTimes()" placeholder="DD/MM/YY" bs-datepicker></td>
							  	<!--</div>-->
								<!--<div class="form-group" ng-class="{'has-error': timepickerForm.time.$invalid}">-->
								    <td><input type="text" class="form-control ti-sm" ng-model="vm.times.inputs.range.to.time" ng-change="vm.updateTimes()" placeholder="HH:MM" bs-timepicker></td>
								<!-- </div> -->
							</tr>
						</form>
					</tbody>
				</table>
			</div>
			<div ng-if="vm.times.type == 'point'">
				<form class="form-inline">
					<!-- <div class="form-group"> -->
					    <span class="span-label">Point</span>
					    <input type="text" class="form-control ti-sm" ng-model="vm.times.inputs.point.date" ng-change="vm.updateTimes()" placeholder="DD/MM/YY" bs-datepicker>
				  	<!--</div>-->
					<!--<div class="form-group" ng-class="{'has-error': timepickerForm.time.$invalid}">-->
					    <input type="text" class="form-control ti-sm" ng-model="vm.times.inputs.point.time" ng-change="vm.updateTimes()" placeholder="HH:MM" bs-timepicker>
					<!-- </div>	   -->
				</form>
			</div>
		</div>
		<div class="filter-section">
			<h4 class="well well-sm">Buoys</h4>
			<div ng-repeat="buoyGroup in vm.buoys" class="filter-buoy-group">
				<span class="btn btn-xs" ng-if="buoyGroup.buoyInstances && buoyGroup.buoyInstances.length > 0" ng-click="buoyGroup.collapsed = !buoyGroup.collapsed">
					<span
						class="glyphicon"
						ng-class="{
						'glyphicon-chevron-right': buoyGroup.collapsed,
						'glyphicon-chevron-down': !buoyGroup.collapsed
						}">
					</span>
				</span>
				<span>
					<input type="checkbox" ng-model="buoyGroup.enabled" ui-indeterminate="buoyGroup.indeterminate" ng-change="vm.selectBuoyGroup(buoyGroup)">
					{{ buoyGroup.name }}
				</span>
				<div ng-if="!buoyGroup.collapsed" ng-repeat="buoyInstance in buoyGroup.buoyInstances" class="filter-buoy-instance">
						<input type="checkbox" ng-model="buoyInstance.enabled" ng-change="vm.selectBuoyInstance(buoyGroup)">
						<span class="glyphicon glyphicon-stop" ng-style="{ color: buoyInstance.colour }"></span>
						{{ buoyInstance.name }}
				</div>
			</div>
		</div>
		<div class="filter-section">
			<h4 class="well well-sm">Sensors</h4>
			<table class="filter-table">
				<tbody>
					<form class="form-inline">
						<tr ng-repeat="sensor in vm.sensors">
							<!-- <div class="form-group"> -->
								<td><input type="checkbox" ng-model="sensor.inputs.enabled" ng-change="vm.updateSensors()"></td>
								<td><span>{{ sensor.name }}</span></td>
							<!-- </div> -->
							<td><button type="button" class="btn btn-default" 
									ng-model="sensor.inputs.selected" 
									bs-options="opt for opt in sensor.inputs.options"
									ng-change="vm.updateSensors()" bs-select>
							</button></td>
							<!-- <div class="form-group"> -->
								<td><input type="text" class="form-control ti-sm" ng-model="sensor.inputs.value" ng-change="vm.updateSensors()"></td>
								<td><span>{{ sensor.unit }}</span></td>
							<!-- </div> -->
						</tr>
					</form>
				</tbody>
			</table>
		</div>
		<div class="separator-top">
			<button class="btn btn-default btn-lg export-btn"
				ng-click="vm.exportData()"
				ng-if="vm.readingMetadata.numReadings">
				Export {{ vm.readingMetadata.numReadings }} 
				<span ng-if="vm.readingMetadata.numReadings == 1">reading</span>
				<span ng-if="vm.readingMetadata.numReadings != 1">readings</span>
				<br>from {{ vm.readingMetadata.numInstances }}
				<span ng-if="vm.readingMetadata.numInstances == 1">buoy</span>
				<span ng-if="vm.readingMetadata.numInstances != 1">buoys</span>
			</button>
		</div>
		<div class="empty"><!-- Needed to show separator-bottom for above div --></div>
	</div>
	<div class="small-12 grid-content no-overflow separator-box dashboard-panel"
		ng-class="vm.showGraphs ? 'medium-5' : 'medium-8'">
		<div id="map-canvas"></div>
		<div id="infoBox"></div>
	</div>

	<div class="small-12 grid-content dashboard-panel"
		ng-class="vm.showGraphs ? 'medium-4' : 'medium-1'">
		<button type="button" class="btn btn-default right graphs-btn"
			ng-click="vm.toggleGraphs()">
			<span
				class="glyphicon glyphicon-left"
				ng-class="{
				'glyphicon-chevron-right': vm.showGraphs,
				'glyphicon-chevron-left': !vm.showGraphs
				}">
			</span>		
		</button>
		<h3 ng-if="vm.showGraphs && !vm.selectedBuoy">(No Buoy Selected)</h3>
		<h3 class="buoy-title" ng-if="!vm.showGraphs && !vm.selectedBuoy">(No Buoy Selected)</h3>
		<h3 class="buoy-title" ng-if="!vm.showGraphs && vm.selectedBuoy">{{ vm.selectedBuoy.name }}</h3>
		<div ng-if="vm.showGraphs && vm.selectedBuoy">
			<h3>{{ vm.selectedBuoy.name }}</h3>
			<em>Readings: {{ vm.selectedBuoy.readings.length }}</em>
			<br><br>
			<div ng-repeat="(sensor, chart) in vm.charts">
				<h4>
					{{ sensor }}
					<span ng-if="chart.averaged"> (Averaged)</span>
				</h4>
				<canvas id="line" class="chart chart-line" data="chart.data"
					labels="chart.timestamps" options="chart.options" >
				</canvas>
			</div>
		</div>
	</div>
</div>