<div class="medium-3 grid-block vertical">
	<div class="grid-content shadow-bottom">
		<h3>Buoys</h3>

		<div ng-repeat="(id, enabled) in vm.buoys">
			<input type="checkbox" ng-model="enabled" ng-change="vm.updateBuoysFilter(id, enabled)">
			Buoy {{ id }}
		</div>
	</div>
	<div class="grid-content shadow-bottom">
		<h3>Times</h3>
		
		<div class="btn-group" ng-model="vm.times.type" bs-radio-group>
			<label class="btn btn-default"><input type="radio" class="btn btn-default" value="all" ng-change="vm.updateTimesFilter()">All</label>
			<label class="btn btn-default"><input type="radio" class="btn btn-default" value="range" ng-change="vm.updateTimesFilter()">Range</label>
			<label class="btn btn-default"><input type="radio" class="btn btn-default" value="point" ng-change="vm.updateTimesFilter()">Slice</label>
		</div>
		<div class="timefilters">
			<div ng-show="vm.times.type == 'range'">
				<!--<div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">-->
				<div>
				    <label><i class="fa fa-calendar"></i>From</label>
				    <input type="text" ng-model="vm.times.inputs.range.from.date" ng-change="vm.updateTimesFilter()" name="date" placeholder="dd/mm/yy" bs-datepicker>
			  	<!--</div>-->
				  
				 <!--<div class="form-group" ng-class="{'has-error': timepickerForm.time.$invalid}">-->
				    <!--<label><i class="fa fa-clock-o"></i> To </label>-->
				    <input type="text" size="8" ng-model="vm.times.inputs.range.from.time" ng-change="vm.updateTimesFilter()" name="time" placeholder="hh:mm" bs-timepicker>
				  <!--</div>-->
				</div>	  
				  
				<div>		  
				 <!--<div class="form-group" ng-class="{'has-error': datepickerForm.date.$invalid}">-->
				    <label><i class="fa fa-calendar"></i>To</label>
				    <input type="text" ng-model="vm.times.inputs.range.to.date" ng-change="vm.updateTimesFilter()" name="date" placeholder="dd/mm/yy" bs-datepicker>
			  	<!--</div>-->
				  
				 <!--<div class="form-group" ng-class="{'has-error': timepickerForm.time.$invalid}">-->
				    <!--<label><i class="fa fa-clock-o"></i> To </label>-->
				    <input type="text" size="8" ng-model="vm.times.inputs.range.to.time" ng-change="vm.updateTimesFilter()" name="time" placeholder="hh:mm" bs-timepicker>
				  <!--</div>-->
				</div>
			</div>
			<div ng-show="vm.times.type == 'point'">
				<div>
				    <label><i class="fa fa-calendar"></i>From</label>
				    <input type="text" ng-model="vm.times.inputs.point.date" ng-change="vm.updateTimesFilter()" name="date" placeholder="dd/mm/yy" bs-datepicker>
			  	<!--</div>-->
				  
				 <!--<div class="form-group" ng-class="{'has-error': timepickerForm.time.$invalid}">-->
				    <!--<label><i class="fa fa-clock-o"></i> To </label>-->
				    <input type="text" size="8" ng-model="vm.times.inputs.point.time" ng-change="vm.updateTimesFilter()" name="time" placeholder="hh:mm" bs-timepicker>
				  <!--</div>-->
				</div>	  
			</div>
		</div>
	</div>
	<div class="grid-content">
		<h3>Filters</h3>
		<div class="sensorfilters">
			<div ng-repeat="sensor in vm.sensors">
				<input type="checkbox" ng-model="sensor.inputs.enabled" ng-change="vm.updateSensorsFilter()">
				{{ sensor.name }}
				<div>
					<button type="button" class="btn btn-default" 
							ng-model="sensor.inputs.selected" 
							bs-options="opt for opt in sensor.inputs.options"
							ng-change="vm.updateSensorsFilter()" bs-select>
					</button>
					<input type="text" ng-model="sensor.inputs.value" ng-change="vm.updateSensorsFilter()"> {{ sensor.units }}
				</div>
				<br>
			</div>
		</div>
	</div>
</div>
<div class="medium-5 grid-content no-overflow shadow-glow">
	<div id="map-canvas"></div>
	<div id="infoBox"></div>
	<!--<div id="map-popover"></div>-->
</div>
<div class="medium-4 grid-content">
	<!--<canvas id="sensorChart" class="chart chart-line" data="vm.data"
		labels="vm.labels" series="vm.series" legend="true" >
	</canvas>-->
</div>
