<nav class="navbar navbar-default" ng-controller="NavController as vm">
	<div class="navbar-header">
		<span ng-if="vm.checkShowNav('dashboard')" class="navbar-brand" ui-sref="dashboard"><img id="logo" src="assets/img/buoy.png"/>WaterWatcher</span>
		<span ng-if="!vm.checkShowNav('dashboard')" class="navbar-brand no-select"><img id="logo" src="assets/img/buoy.png"/>WaterWatcher</span>
	</div>
	<div class="navbar-container" ng-cloak>
		<ul class="nav navbar-nav">
			<li>
				<div ng-include="'gui/loading.html'"></div>
			</li>
			<li ng-if="vm.checkShowNav('dashboard')"
				ng-class="{ active: vm.stateActive('dashboard') }">
				<a ui-sref="dashboard">Dashboard</a>
			</li>
			<li ng-if="vm.checkShowNav('config')"
				ng-class="{ active: vm.stateActive('config') }">
				<a ui-sref="config">Config</a>
			</li>
			<li ng-if="vm.checkShowNav('warnings')"
				ng-class="{ active: vm.stateActive('warnings') }">
				<a ui-sref="warnings">
					Warnings 
					<span class="badge" ng-if="vm.warnings.num > 0">{{ vm.warnings.num }}</span>
				</a>
			</li>
			<li ng-if="vm.checkShowNav('admin')"
				ng-class="{ active: vm.stateActive('admin') }">
				<a ui-sref="admin">Admin</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li ng-if="vm.checkShowNav('account')" class="dropdown">
				<a href="" data-placement="bottom-right" data-container="#dropdown-container" bs-dropdown="vm.accountMenu">
					<!-- <span class="glyphicon glyphicon-cog"></span> -->
					Account <span class="caret"></span>
				</a>
			</li>
			<li id="dropdown-container"></li>
		</ul>
	</div>
	<!-- <img id="dugong" src="/assets/img/dugong.gif" alt="dugong"> -->
</nav>