<div class="grid-content">
	<div>
		<h3>Users</h3>
		<table>
			<thead>
				<tr>
					<th>Email</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Role</th>
					<th>Last Login</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in vm.users">
					<td>
						<span ng-if="user.id != -2">{{ user.email }}</span>
						<input ng-if="user.id == -2" type="text" ng-model="vm.editUser.email" placeholder="johndoe@aol.com">
					</td>
					<td>
						<span ng-if="vm.editUserId != user.id">{{ user.firstName }}</span>
						<input ng-if="vm.editUserId == user.id" type="text" ng-model="vm.editUser.firstName" placeholder="John">
					</td>
					<td>
						<span ng-if="vm.editUserId != user.id">{{ user.lastName }}</span>
						<input ng-if="vm.editUserId == user.id" type="text" ng-model="vm.editUser.lastName" placeholder="Doe">
					</td>
					<td>
						<span ng-if="vm.editUserId != user.id">{{ user.role }}</span>
						<select ng-if="vm.editUserId == user.id"
							type="button" class="btn btn-default" 
							ng-model="vm.editUser.role" 
							bs-options="opt for opt in vm.roles"
							bs-select>
						</select>
					</td>
					<td>
						{{ user.lastLogin.text }}
					</td>
					<td>
						<button class="small button" ng-if="vm.editUserId == -1" ng-click="vm.startEditingUser(user)">Edit</button>
						<button class="small button" ng-if="vm.editUserId == user.id" ng-click="vm.finishEditingUser()">Save</button>
						<button class="small info button" ng-if="vm.editUserId == user.id" ng-click="vm.cancelEditingUser()">Cancel</button>
						<button class="small alert button" ng-if="vm.showDeleteButton(user)" ng-click="vm.deleteUser(user)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
		<button class="small button" ng-if="vm.editUserId == -1" ng-click="vm.startAddingUser()">Add User</button>
	</div>
	<div>
		<h3>Add Buoy</h3>
		<label>Name</label>
		<input type="text" ng-model="vm.newBuoyName">
		<button class="button" ng-click="vm.addBuoy()">Add</button>
	</div>
	<!--<div>
		<h3>Configure Sensors</h3>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Description</th>
					<th>Colour</th>
					<th>Units</th>
					<th>Lower Bound</th>
					<th>Upper Bound</th>
					<th>Display</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="sensor in vm.sensors" 
						ng-class="{ unconfiguredSensor: sensor.unconfigured,
									invalidSensor: !vm.sensorValid(sensor) }">
					<td>
						{{ sensor.id }}
					</td>
					<td>
						<span ng-show="!vm.sensorsEdit[$index]">{{ sensor.name }}</span>
						<input ng-show="vm.sensorsEdit[$index]" type="text" ng-model="sensor.name">
					</td>
					<td>
						<span ng-show="!vm.sensorsEdit[$index]">{{ sensor.description }}</span>
						<input ng-show="vm.sensorsEdit[$index]" type="text" ng-model="sensor.description">
					</td>
					<td>
						<span ng-show="!vm.sensorsEdit[$index]">{{ sensor.colour }}</span>
						<input ng-show="vm.sensorsEdit[$index]" type="text" ng-model="sensor.colour">
					</td>
					<td>
						<span ng-show="!vm.sensorsEdit[$index]">{{ sensor.units }}</span>
						<input ng-show="vm.sensorsEdit[$index]" type="text" ng-model="sensor.units">
					</td>
					<td>
						<span ng-show="!vm.sensorsEdit[$index]">{{ sensor.lowerBound }}</span>
						<input ng-show="vm.sensorsEdit[$index]" type="text" ng-model="sensor.lowerBound">
					</td>
					<td>
						<span ng-show="!vm.sensorsEdit[$index]">{{ sensor.upperBound }}</span>
						<input ng-show="vm.sensorsEdit[$index]" type="text" ng-model="sensor.upperBound">
					</td>
					<td>
						<input type="checkbox" ng-model="sensor.display">
					</td>
					<td>
						<button ng-click="vm.toggleEdit($index)">
							{{ vm.sensorsEdit[$index] ? 'Save' : 'Edit' }}
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>-->
</div>