<form ng-submit="vm.editSave()">
    <table class="data-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="commandType in vm.commandTypes | filter: { archived: false }">
                <td>
                    <span ng-if="commandType.id >= 0">{{ commandType.id }}</span>
                </td>
                <td>
                    <span ng-if="vm.editId != commandType.id">{{ commandType.name }}</span>
                    <input ng-if="vm.editId == commandType.id" type="text" class="form-control" ng-model="vm.editObj.name" required placeholder="Wakeup Rate" focus-on="editExisting" esc-cancel="vm.editCancel()">
                </td>
                <td>
                    <span ng-if="vm.editId != commandType.id">{{ commandType.description }}</span>
                    <input ng-if="vm.editId == commandType.id" type="text" class="form-control" ng-model="vm.editObj.description" placeholder="How frequently the buoy wakes up and requests commands" esc-cancel="vm.editCancel()">
                </td>
                <td class="button-cell">
                    <button type="button" class="btn btn-default btn-sm right" ng-if="vm.showDeleteButton(commandType)" ng-click="vm.editDelete(commandType)">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm right" ng-if="vm.editId == -1" ng-click="vm.editExisting(commandType)">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm right" ng-if="vm.editId == commandType.id" ng-click="vm.editCancel()">
                        <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                    </button>
                    <button type="submit" class="btn btn-default btn-sm right" ng-if="vm.editId == commandType.id">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<button type="button" class="btn btn-default" ng-if="vm.editId == -1" ng-click="vm.editNew()">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    <small>Add Command Type</small>
</button>
